<IfModule mod_rewrite.c>  
RewriteEngine on
Options +FollowSymlinks
#RewriteCond %{REQUEST_METHOD} !=POST
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}?_&%{QUERY_STRING} [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteEngine on 
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
# Handle post URLs
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(sr|en)/post/([^/]+)/?$ post.php?slug=$2 [L]
##RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(sr|en)/clan/([^/]+)/?$ clan.php?slug=$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(sr|en)/projekat/([^/]+)/?$ projekat.php?slug=$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(sr|en)/project/([^/]+)/?$ project.php?slug=$1 [L]
#Ove dvije linije treba postaviti za svaku novu drzavu
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^sr/(.*)$ $1?country=sr [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^en/(.*)$ $1?country=en [QSA,L]
#Ovaj uslov mora ostati zbog drugih fajlova (js i slicno)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(sr|en)/(.*)$ $2?country=$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule css/(.*)$ css/$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule js/(.*)$ js/$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule images/(.*)$ images/$1
#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
</IfModule>
<IfModule php7_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php74"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php74"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit
# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php74” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
