* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 62.5%;
}

html, body {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #eb4836;
  color: white;
}

::selection {
  background-color: #eb4836;
  color: white;
}

p, a, li, button, input, textarea {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: initial;
  transition: all 0.2s linear;
}
a:hover {
  color: #eb4836;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}
h1 > strong {
  color: #eb4836;
  font-size: inherit;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

p, label, li, button, input, a {
  font-family: "Inter", sans-serif;
}

#loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  inset: 0;
}
#loader .circle {
  width: 15rem;
  height: 15rem;
  border: 2rem solid #1d1d1d;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  display: block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  min-height: calc(100vh - 153px);
}
@media (max-width: 991px) {
  main {
    min-height: calc(100vh - 301px);
  }
}

.img-bck {
  max-height: 50rem;
  height: 100%;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.copy-notif {
  position: fixed;
  top: 0;
  background-color: #1d1d1d;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: copy 3s ease-out;
  z-index: 9999;
  transform: translateY(-3rem);
  align-items: center;
  color: white;
  font-size: 1.6rem;
}
.copy-notif .lnc {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}
section:not(.landing-section) {
  padding: 6rem 0;
}
section.action-cards-container {
  padding-top: 0;
}

.section-row {
  display: flex;
  gap: 4.8rem;
}
@media (max-width: 768px) {
  .section-row {
    flex-direction: column;
  }
}
.section-column {
  flex-basis: 100%;
  position: relative;
}
.section-column p {
  margin-bottom: 2rem;
}
.section-column.column-65 {
  flex-basis: 65%;
}
@media (max-width: 768px) {
  .section-column.column-65 {
    flex-basis: 100%;
  }
}
.section-column.column-35 {
  flex-basis: 35%;
}
@media (max-width: 768px) {
  .section-column.column-35 {
    flex-basis: 100%;
  }
}

h1.section-heading {
  font-size: clamp(2.7rem, 6.6vw, 4rem);
}

h2.section-heading {
  font-size: 2.5rem;
}
h2.section-heading strong {
  color: #eb4836;
}

.section-heading {
  margin-bottom: 4.8rem;
}
@media (max-width: 768px) {
  .section-heading {
    text-align: center;
    font-size: 2.25rem;
  }
}

.action-link {
  color: #eb4836;
  font-weight: 700;
  display: inline-block;
  transition: all 0.1s linear;
  font-family: "Space Grotesk", sans-serif;
}
.action-link::after {
  content: "\ea70";
  font-family: "remixicon" !important;
  transition: inherit;
  font-size: inherit;
  position: relative;
  top: 0.2rem;
  color: #eb4836;
}
.action-link:hover {
  color: #eb4836;
}
.action-link:hover::after {
  margin-left: 0.3rem;
  display: inline-block;
  color: #eb4836;
}

.img-fluid {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: clip;
}

.layout-container {
  max-width: 150.2rem;
  width: 100%;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  padding-top: 4.8rem;
  min-height: 100dvh;
}
@media (max-width: 991px) {
  .layout-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

i {
  color: #1d1d1d;
}

.cookie-consent-banner {
  position: fixed;
  z-index: 10;
  left: 0;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: white;
}
.cookie-consent-banner .cookie-wrapper {
  background-color: rgba(29, 29, 29, 0.9);
  border-radius: 0.8rem 0.8rem 0 0;
  max-width: 80%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .cookie-consent-banner .cookie-wrapper {
    flex-direction: column;
  }
}
.cookie-consent-banner p {
  font-size: 1.2rem;
}
.cookie-consent-banner .btn-wrapper {
  display: flex;
  gap: 1.5rem;
}

.action-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 4.8rem;
}
@media (max-width: 1200px) {
  .action-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .action-cards {
    grid-template-columns: 1fr;
  }
}
.action-cards .action-card {
  background-color: #1d1d1d;
  padding: 2.4rem 2.8rem;
  color: white;
  border-radius: 1.6rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  isolation: isolate;
}
@media (max-width: 650px) {
  .action-cards .action-card {
    flex-basis: 100%;
  }
}
.action-cards .action-card h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.action-cards .action-card img {
  position: absolute;
  right: 2rem;
  max-height: 80%;
  z-index: -1;
}
.action-cards .action-card h3,
.action-cards .action-card a {
  position: relative;
  z-index: 1;
}
.action-cards .action-card a {
  font-weight: 700;
}
.action-cards .action-card:hover .action-link::after {
  margin-left: 0.3rem;
  display: inline-block;
  color: #eb4836;
}
.action-cards .action-card a,
.action-cards .action-card [class^=ri-] {
  color: #eb4836;
}

.main-slider,
.slide {
  height: calc(100vh - 9rem);
  max-height: 108rem;
}
@media (max-width: 991px) {
  .main-slider,
  .slide {
    height: calc(100vh - 6.8rem - 5.6rem);
  }
}

.main-slider {
  margin-bottom: 4.8rem;
}

.slide {
  padding: 5.8rem;
  border-radius: 1.6rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  isolation: isolate;
}
.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(29, 29, 29, 0.6) 0%, rgba(29, 29, 29, 0) 50%);
  pointer-events: none;
  border-radius: 1.6rem;
  z-index: -1;
}
@media (max-width: 991px) {
  .slide {
    padding: 1.2rem;
  }
}
@media (max-width: 991px) {
  .slide h1,
  .slide .action-link {
    text-align: center;
  }
}
.slide h1 {
  max-width: 55.9rem;
  font-size: clamp(2.7rem, 6.6vw, 6.4rem);
  margin-bottom: 2rem;
  color: white;
}
.slide .action-link {
  font-size: clamp(1.5rem, 2vw, 2.4rem);
}

.we-are-slide {
  background-image: url("../images/cvu-bck.png");
}
@media (max-width: 991px) {
  .we-are-slide {
    align-items: center;
  }
}
@media (max-width: 991px) {
  .we-are-slide h1,
  .we-are-slide .action-link {
    text-align: center;
  }
}
.we-are-slide h1 {
  max-width: 55.9rem;
  font-size: clamp(2.7rem, 6.6vw, 6.4rem);
  margin-bottom: 2rem;
}
.we-are-slide .action-link {
  font-size: clamp(1.5rem, 2vw, 2.4rem);
}

.background-img {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: clip;
}
.background-img .background-wrapper {
  display: flex;
  align-items: center;
}
.background-img img {
  position: absolute;
  z-index: -1;
  display: flex;
  width: 50vw;
}
@media (max-width: 991px) {
  .background-img img {
    width: 170vw;
  }
}
.background-img.background-right img {
  right: 0;
  transform: translateY(7vw);
}
@media (max-width: 991px) {
  .background-img.background-right img {
    right: -29vw;
    transform: translateY(2vw);
  }
}
.background-img.background-left img {
  left: 0;
}
@media (max-width: 991px) {
  .background-img.background-left img {
    left: -41vw;
    transform: translateY(7vw);
  }
}

.testimonial-section + .background-right img {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .visual-art-background {
    position: static;
  }
}
.visual-art-background img {
  right: 0 !important;
  transform: translate(20vw, 11vw) !important;
  width: 57vw !important;
}
@media (max-width: 768px) {
  .visual-art-background img {
    right: 0 !important;
    transform: translate(71vw, 57vw) !important;
    width: 236vw !important;
  }
}

.support-partners {
  display: flex;
  justify-content: center;
  gap: 9.6rem;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .support-partners {
    gap: 4.8rem;
  }
}
@media (max-width: 991px) {
  .support-partners {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .support-partners img {
    width: calc(50% - 4.4rem);
    height: 11vw;
    -o-object-fit: contain;
       object-fit: contain;
    min-height: 8rem;
  }
}

.testimonials {
  display: flex;
  gap: 4.8rem;
}
@media (max-width: 991px) {
  .testimonials {
    flex-direction: column;
    gap: 2rem;
  }
}
.testimonials-rows {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
@media (max-width: 991px) {
  .testimonials-images {
    display: flex;
    justify-content: center;
  }
}
.testimonials-images img {
  width: 28.8rem;
}
@media (max-width: 991px) {
  .testimonials-images img {
    width: 100%;
    max-width: 40rem;
  }
}
.testimonials .testimonial {
  display: flex;
  gap: 0.8rem;
}
.testimonials .testimonial-quotes {
  font-size: 10rem;
  display: block;
  color: #e8e8e8;
  line-height: 0.8;
  height: 5.3rem;
}
@media (max-width: 991px) {
  .testimonials .testimonial-quotes {
    font-size: 6rem;
  }
}
.testimonials .testimonial-content p {
  margin-bottom: 5px;
  font-size: 2rem;
}
@media (max-width: 991px) {
  .testimonials .testimonial-content p {
    font-size: 1.6rem;
  }
}
.testimonials .testimonial-author {
  font-size: 1.2rem;
}
.testimonials .testimonial-author strong,
.testimonials .testimonial-author span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.testimonials .testimonial-author strong {
  color: #eb4836;
  font-size: 1.6rem;
}
.testimonials .testimonial-author span {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .visual-art-section .column-35 {
    height: 105vw;
    display: flex;
    justify-content: center;
    flex-basis: unset;
    overflow-x: clip;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .visual-art-section .column-35 .img-bck {
    width: 230vw;
    max-height: unset;
  }
}

.error-section {
  height: calc(100vh - 15.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-section h1 {
  margin-bottom: 1.5rem;
}
@media (max-width: 1100px) {
  .error-section {
    height: calc(100vh - 27.6rem);
  }
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot {
  transition: all 0.2s linear;
}
.owl-theme .owl-dots .owl-dot span {
  width: 1.6rem;
  height: 1.6rem;
  background: rgba(255, 255, 255, 0.4);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
}

.owl-nav {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}
.owl-nav button {
  margin: 0 !important;
}
.owl-nav button i {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.4) !important;
  transition: all 0.2s ease-out;
}
.owl-nav button:hover {
  background: transparent !important;
}
.owl-nav button:hover i {
  font-size: 2.4rem;
  color: white !important;
}

header {
  min-height: 4.8rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  transition: all 0.2s ease-out;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}
header.transparent-disabled {
  background-color: white;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  max-width: 150.2rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
@media (max-width: 991px) {
  header .header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
header .logo {
  height: 3.2rem;
}

.header-left {
  display: flex;
}
.header-left > a {
  display: flex;
}
.header-right {
  display: flex;
  justify-content: flex-end;
}
.header-left, .header-right {
  width: 10.3rem;
}
.navigation {
  display: flex;
}
.navigation-item {
  display: flex;
  cursor: pointer;
}
.navigation-item > .ri-menu-line {
  color: #1d1d1d;
}
@media (min-width: 992px) {
  .navigation-item[data-slide=main-menu] {
    display: none;
  }
}
@media (max-width: 991px) {
  .navigation-item[data-slide=language-menu] {
    display: none;
  }
}
.navigation-item:not(:last-child) {
  margin-right: 1.2rem;
  padding-right: 1.2rem;
  border-right: 1px solid #1d1d1d;
}
@media (max-width: 991px) {
  .navigation-item:nth-last-child(-n+2) {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }
}
.navigation-item [class^=ri-],
.navigation-item [class*=" ri-"] {
  color: #1d1d1d;
  font-size: 2rem;
  transition: all 0.2s linear;
}
@media (min-width: 991px) {
  .navigation-item:hover [class^=ri-],
  .navigation-item:hover [class*=" ri-"] {
    color: #eb4836;
  }
}

.slide-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  transform: translateY(calc(-100% - 10px));
  transition: all 0.2s ease-out;
  padding: 0.8rem;
  border-radius: 0 0 1.6rem 1.6rem;
  background-color: white;
  z-index: 30;
  width: 33rem;
  max-width: 100vw;
  gap: 0.8rem;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.1);
  max-height: 100vh;
}
@media (max-width: 991px) {
  .slide-menu {
    width: 100%;
    left: 0;
    right: 0;
  }
}
.slide-menu.show {
  transform: translateY(0%);
}
.slide-menu-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}
.slide-menu-body::-webkit-scrollbar {
  width: 0;
}
.slide-menu-body > *:not(:last-child) {
  margin-bottom: 5px;
}
.slide-menu-item {
  padding: 8px 30px 8px 8px;
  transition: all 0.2s linear;
  border-radius: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.slide-menu-item > [class^=ri-],
.slide-menu-item > [class*=" ri-"] {
  font-size: 2.3rem;
}
.slide-menu-item > img {
  max-height: 2.3rem;
}
.slide-menu-item:hover {
  background-color: #f3f3f3;
  color: #eb4836;
}
.slide-menu-item:hover [class^=ri-],
.slide-menu-item:hover [class*=" ri-"] {
  color: #eb4836;
}
@media (max-width: 991px) {
  .slide-menu-item:not(:focus-visible) {
    background-color: unset;
    color: unset;
  }
}
.slide-menu-item.contact {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding: 0.4rem 0.8rem;
}
.slide-menu-item.contact span {
  font-size: 1.4rem;
}
.slide-menu-accordion .accordion-body {
  border-radius: 0 0 0.4rem 0.4rem;
}
.slide-menu-accordion .accordion-body hr {
  border: 0;
  margin: 0.2rem 0;
  border-bottom: 1px solid #1d1d1d;
}
.slide-menu-accordion .accordion-body .slide-menu-item:hover {
  color: #eb4836;
}
.slide-menu-accordion.expanded {
  border-radius: 0.4rem;
}
.slide-menu[data-menu=main-menu] {
  background-image: url("../images/grafika-menu.svg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
}
@media (max-width: 991px) {
  .slide-menu[data-menu=main-menu] .slide-menu-item {
    width: 100%;
    justify-content: center;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    font-size: 3.2vh;
  }
  .slide-menu[data-menu=main-menu] .slide-menu-item.active {
    text-decoration: underline;
    text-underline-offset: 6px;
    color: #eb4836;
  }
}
.slide-menu[data-menu=main-menu] .mobile-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}
.slide-menu[data-menu=main-menu] .slide-menu-body {
  height: 100dvh;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.slide-menu[data-menu=main-menu] .slide-menu-body > a {
  text-align: center;
}
.slide-menu[data-menu=main-menu] .ri-close-line {
  font-size: 3.5rem;
  text-align: center;
  color: #1d1d1d;
}
.slide-menu[data-menu=share-menu] {
  width: 20rem;
}
@media (max-width: 991px) {
  .slide-menu[data-menu=share-menu] {
    width: 100%;
  }
}
.slide-menu[data-menu=language-menu] {
  width: -moz-fit-content;
  width: fit-content;
}
.slide-menu[data-menu=language-menu] .slide-menu-item {
  padding: 0.8rem 0.5rem;
}
.slide-menu[data-menu=language-menu] .slide-menu-item.active {
  color: #eb4836;
}

.menu-desktop {
  display: flex;
  gap: 0 2.4rem;
}
.menu-desktop-link {
  text-underline-offset: 0.4rem;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
}
.menu-desktop-link span {
  white-space: nowrap;
  font: inherit;
}
.menu-desktop-link:hover, .menu-desktop-link.active {
  text-decoration: underline;
  color: #eb4836;
}
.menu-desktop .submenu {
  display: flex;
  justify-content: center;
  position: relative;
}
.menu-desktop .submenu-content {
  display: none;
  position: absolute;
  top: 2.5rem;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  z-index: 3;
}
.menu-desktop .submenu-content .submenu-link {
  color: #1d1d1d;
  font-family: "Space Grotesk", sans-serif;
}
.menu-desktop .submenu-content .submenu-link:hover {
  color: #eb4836;
}
.menu-desktop .submenu.show .submenu-content {
  display: flex;
}
.menu-desktop .submenu.active {
  text-decoration: underline;
  color: #eb4836;
}
@media (max-width: 991px) {
  .menu-desktop {
    display: none;
  }
}

.submenu-content {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
}
.submenu-content .submenu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 1rem;
  border-radius: 1.2rem;
  transition: all 0.2s ease-out;
  gap: 0.5rem;
  font-size: 1.8rem;
}
.submenu-content .submenu-link span {
  font-weight: 600;
  font-family: "Inter";
  font-size: 1.6rem;
}
.submenu-content .submenu-link [class^=ri-] {
  font-size: 2.6rem;
}
.submenu-content .submenu-link:hover {
  background-color: #f3f3f3;
  color: #eb4836;
  text-decoration: none;
}
.submenu-content .submenu-link:hover [class^=ri-] {
  color: #eb4836;
}

.lang-switch {
  display: flex;
  justify-content: center;
}
.lang-switch a:not(:last-child) {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #1d1d1d;
}
.lang-switch a.active {
  color: #eb4836;
}

footer {
  padding: 3.3rem 0 2rem 0;
  background-image: url(../images/footer-graphic.svg);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  footer {
    padding: 4rem 0 1.5rem 0;
    background-size: 100%;
    background-position: bottom;
  }
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
}
.footer-container * {
  font-family: "Inter", sans-serif;
}

.social-links a .lnc {
  transition: all 0.2s linear;
}
.social-links a .lnc:hover {
  background-color: transparent;
}
.social-links a:hover .lnc {
  color: #eb4836;
}

.footer-row {
  display: flex;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer-row {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.footer-row .footer-column {
  padding: 0 1.2rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .footer-row .footer-column {
    padding: 0 1.2rem;
    justify-content: flex-start;
  }
}
.footer-row .footer-column .footer-logo {
  max-height: 2rem;
}
@media (max-width: 1100px) {
  .footer-row .footer-column .footer-logo {
    max-height: 4rem;
  }
}
.footer-row .footer-column:not(:last-of-type) {
  border-right: 1px solid #1d1d1d;
}
@media (max-width: 1100px) {
  .footer-row .footer-column:not(:last-of-type) {
    border-right: unset;
  }
}
.footer-row .footer-column > a,
.footer-row .footer-column > span {
  font-size: 1.6rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}
.footer-row .footer-column > a [class^=ri-],
.footer-row .footer-column > span [class^=ri-] {
  transition: all 0.2s linear;
}
.footer-row .footer-column > a:hover [class^=ri-],
.footer-row .footer-column > span:hover [class^=ri-] {
  color: #eb4836;
}
.footer-row .footer-column > a [class^=ri-],
.footer-row .footer-column > span [class^=ri-] {
  font-size: 1.6rem;
}
.footer-row .footer-column > span {
  transition: all 0.2s linear;
}
.footer-row .footer-column > span:hover {
  color: #eb4836;
}
@media (max-width: 1100px) {
  .footer-row .footer-column-link {
    align-self: baseline;
  }
}
.footer-row .footer-column-link a:hover {
  text-decoration: none;
}
@media (max-width: 1100px) {
  .footer-row.footer-row-bottom {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem 0;
  }
}
.footer-row.footer-row-bottom p,
.footer-row.footer-row-bottom a {
  font-size: 1.2rem;
  color: #1d1d1d;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .footer-row.footer-row-bottom p,
  .footer-row.footer-row-bottom a {
    font-size: 1rem;
  }
}
.footer-row.footer-row-bottom a:hover {
  color: #eb4836;
}
.footer-row.footer-row-bottom .footer-column {
  padding: 0 1.2rem;
}
.footer-row.footer-row-bottom .footer-column:not(:last-of-type) {
  border-right: 1px solid #1d1d1d;
}

.phone-numbers h3 {
  color: #1d1d1d;
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
  display: block;
}

.phone-numbers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0.4rem;
}
@media (max-width: 600px) {
  .phone-numbers-grid {
    flex-direction: column;
  }
}

.phone-number {
  display: flex;
  flex-basis: calc(50% - 0.2rem);
  gap: 0.8rem;
  color: white;
  padding: 1.2rem;
  transition: all 0.2s linear;
  border-radius: 0.4rem;
}
.phone-number [class^=ri-] {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s linear;
}
.phone-number-content {
  display: flex;
  flex-direction: column;
}
.phone-number-content span {
  font-weight: 500;
}
.phone-number-content strong {
  font-weight: 700;
  font-size: 2rem;
}
.phone-number:hover {
  background-color: #3b3b3b;
  color: white;
}
.phone-number:hover [class^=ri-] {
  color: rgba(255, 255, 255, 0.5);
}

.blog-latest, .blog, .related-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4.8rem;
}

.related-posts {
  margin: 6rem 0;
}

.post {
  background: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
}
.post-body {
  padding: 1.6rem 2.8rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-body .post-title {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  text-decoration: none !important;
  color: #1d1d1d;
  font-family: "Space Grotesk", sans-serif;
}
.post-body .post-title:hover {
  color: #eb4836;
}
.post-image {
  display: flex;
  border-radius: 1.6rem 1.6rem 0 0;
  overflow: hidden;
  position: relative;
  aspect-ratio: 16/9;
}
.post-image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  inset: 0;
  width: 100%;
  height: 100%;
}
.post-date {
  color: #eb4836;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}
.post-wrapper img {
  width: 100%;
}

#post .post-date {
  color: #1d1d1d;
}

.blog-more {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 4.8rem;
}

#post .background-img {
  z-index: -1;
  transform: translateY(-270px);
}

.post-wrapper p, .post-wrapper li, .visual-art-section p, .visual-art-section li {
  margin-bottom: 1.5rem;
}
.post-wrapper p:empty, .post-wrapper li:empty, .visual-art-section p:empty, .visual-art-section li:empty {
  display: none;
}
.post-wrapper p span, .post-wrapper p del, .post-wrapper p strong, .post-wrapper p b, .post-wrapper p em, .post-wrapper li span, .post-wrapper li del, .post-wrapper li strong, .post-wrapper li b, .post-wrapper li em, .visual-art-section p span, .visual-art-section p del, .visual-art-section p strong, .visual-art-section p b, .visual-art-section p em, .visual-art-section li span, .visual-art-section li del, .visual-art-section li strong, .visual-art-section li b, .visual-art-section li em {
  font: inherit;
}
.post-wrapper p strong, .post-wrapper li strong, .visual-art-section p strong, .visual-art-section li strong {
  font-weight: 600;
}
.post-wrapper a, .visual-art-section a {
  font-size: inherit;
  color: #eb4836;
}
.post-wrapper a:hover, .visual-art-section a:hover {
  text-decoration: underline;
}
.post-wrapper iframe, .post-wrapper video, .visual-art-section iframe, .visual-art-section video {
  width: 50%;
  border: 0;
  border-radius: 1.6rem;
}
@media (max-width: 991px) {
  .post-wrapper iframe, .post-wrapper video, .visual-art-section iframe, .visual-art-section video {
    width: 100%;
  }
}
.post-wrapper ul, .post-wrapper ol, .visual-art-section ul, .visual-art-section ol {
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
}
.post-wrapper hr, .visual-art-section hr {
  margin-bottom: 1.5rem;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
}
.post-wrapper > div, .visual-art-section > div {
  font-size: 1.6rem;
}
.post-wrapper h1, .post-wrapper h2, .post-wrapper h3, .post-wrapper h4, .post-wrapper h5, .post-wrapper h6, .visual-art-section h1, .visual-art-section h2, .visual-art-section h3, .visual-art-section h4, .visual-art-section h5, .visual-art-section h6 {
  margin-bottom: 15px;
}
.post-wrapper h1 span, .post-wrapper h2 span, .post-wrapper h3 span, .post-wrapper h4 span, .post-wrapper h5 span, .post-wrapper h6 span, .visual-art-section h1 span, .visual-art-section h2 span, .visual-art-section h3 span, .visual-art-section h4 span, .visual-art-section h5 span, .visual-art-section h6 span {
  font-size: inherit;
}
.post-wrapper > .section-heading, .visual-art-section > .section-heading {
  margin-bottom: 4.8rem;
  margin-top: 4.8rem;
}
.post-wrapper > .featured-image, .visual-art-section > .featured-image {
  border-radius: 1.6rem;
}
.post-wrapper .project-header, .visual-art-section .project-header {
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  margin-bottom: 6rem;
  border-radius: 1.6rem;
  overflow: hidden;
  height: calc(100dvh - 9rem);
}
@media (max-width: 991px) {
  .post-wrapper .project-header, .visual-art-section .project-header {
    height: calc(100dvh - 30rem);
  }
}
.post-wrapper .project-header img, .visual-art-section .project-header img {
  border-radius: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.post-wrapper .project-header::before, .visual-art-section .project-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(29, 29, 29, 0.9) 0%, rgba(29, 29, 29, 0) 50%);
  pointer-events: none;
  border-radius: 1.6rem;
}
@media (max-width: 991px) {
  .post-wrapper .project-header, .visual-art-section .project-header {
    align-items: flex-start;
    justify-content: center;
  }
  .post-wrapper .project-header::before, .visual-art-section .project-header::before {
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.8) 0%, rgba(29, 29, 29, 0) 51.05%);
  }
}
.post-wrapper .project-header .project-title, .visual-art-section .project-header .project-title {
  position: absolute;
  padding: 4rem;
  z-index: 1;
}
.post-wrapper .project-header .project-title h1, .visual-art-section .project-header .project-title h1 {
  font-size: clamp(3.5rem, 6.6vw, 6.4rem);
  color: #eb4836;
}
.post-wrapper .project-header .project-title h2, .visual-art-section .project-header .project-title h2 {
  font-size: clamp(2.2rem, 4vw, 4rem);
  color: white;
}
@media (max-width: 991px) {
  .post-wrapper .project-header .project-title h2, .visual-art-section .project-header .project-title h2 {
    font-weight: 400;
  }
}
@media (max-width: 991px) {
  .post-wrapper .project-header .project-title, .visual-art-section .project-header .project-title {
    text-align: center;
  }
}
.post-wrapper .project-header .ri-arrow-down-line, .visual-art-section .project-header .ri-arrow-down-line {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: clamp(4rem, 11vw, 12.4rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 4.2rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  .post-wrapper .project-header .ri-arrow-down-line, .visual-art-section .project-header .ri-arrow-down-line {
    font-size: 5rem;
  }
}

.visual-art-section h1 {
  margin-top: 0 !important;
}

.member-desc {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}
.member-desc span, .member-desc strong, .member-desc i, .member-desc a, .member-desc p {
  margin-bottom: 1.5rem;
  display: block;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: inherit;
}

#project {
  padding: 0;
}

.post-section {
  display: flex;
  gap: 4.8rem;
  padding-top: 0 !important;
}
@media (max-width: 991px) {
  .post-section {
    flex-direction: column;
  }
}
.post-section aside {
  width: 34rem;
  flex-shrink: 0;
  background-color: #F6F6F6;
  border-radius: 1.6rem;
  padding: 2rem;
}
@media (max-width: 991px) {
  .post-section aside {
    width: 100%;
  }
}
.post-section #post {
  flex-grow: 1;
}
@media (min-width: 992px) {
  .post-section #post {
    max-width: calc(100% - 34rem);
  }
}
.post-section #latest-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
.post-section #latest-posts .section-heading {
  margin-bottom: 0;
}
.post-section #latest-posts .post-meta {
  margin-bottom: 0;
}
.post-section #latest-posts .post-title {
  font-size: 1.8rem;
}
.post-section .post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}
.post-section .post-share {
  background-color: #F3F3F3;
  border-radius: 1.2rem;
  padding: 1.2rem;
}
.post-section .post-share {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.post-section .post-share p {
  margin-bottom: 0;
  margin-right: 1.2rem;
}
.post-section .post-share .share-icons {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.post-section .post-share .share-icons a {
  display: flex;
}
.post-section .post-share .share-icons a:hover {
  color: unset;
  text-decoration: unset;
}
.post-section .post-share .share-icons img {
  max-height: 1.7rem;
}
.post-section .post-share .share-icons [class^=ri-] {
  font-size: 1.9rem;
}

.rewards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 4.8rem 0;
}
@media (max-width: 991px) {
  .rewards-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .rewards-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.rewards-container .reward-block {
  background-color: #F2F2F2;
  padding: 2rem;
  border-radius: 1.6rem;
  height: -moz-fit-content;
  height: fit-content;
}
.rewards-container .reward-block h4 {
  color: red;
  font-weight: 700;
}
.rewards-container .reward-block h5 {
  color: #626262;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.rewards-container .reward-block p {
  color: #1d1d1d;
  margin-bottom: 0;
}

.image-modal {
  position: fixed;
  inset: 50px;
  z-index: 9999;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-modal-container {
  overflow: hidden;
  border-radius: 1.6rem;
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .image-modal {
    inset: 0;
  }
}
.image-modal::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
.image-modal img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1.6rem;
}
@media (min-width: 992px) {
  .image-modal img {
    height: 100%;
  }
}
.image-modal .next-prev-image {
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.image-modal .next-prev-image .next-image,
.image-modal .next-prev-image .prev-image {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.image-modal .next-prev-image .next-image [class^=ri-],
.image-modal .next-prev-image .prev-image [class^=ri-] {
  display: none;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991px) {
  .image-modal .next-prev-image .next-image [class^=ri-],
  .image-modal .next-prev-image .prev-image [class^=ri-] {
    display: block;
  }
}
.image-modal .next-prev-image .next-image:hover [class^=ri-],
.image-modal .next-prev-image .prev-image:hover [class^=ri-] {
  display: block;
}
.image-modal .next-prev-image .next-image {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .image-modal .next-prev-image .next-image {
    justify-content: flex-end;
  }
}
.image-modal .next-prev-image .prev-image {
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .image-modal .next-prev-image .prev-image {
    justify-content: flex-start;
  }
}
.image-modal .image-close {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 7rem;
  z-index: 2;
  cursor: pointer;
}

.gallery {
  display: flex;
  gap: 4.8rem;
  position: relative;
  margin-bottom: 4.8rem;
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 1.6rem;
  cursor: pointer;
  aspect-ratio: 30/20;
}
.gallery .gallery-item, .gallery img {
  aspect-ratio: 30/20;
}
.gallery .owl-nav {
  position: absolute;
  width: 100%;
  top: calc(50% - 2rem);
  z-index: 99999;
  height: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0 1.6rem;
  height: 0;
}
.gallery .owl-nav .owl-prev i,
.gallery .owl-nav .owl-next i {
  font-size: 3.2rem;
  padding: 0.4rem !important;
  background: rgba(255, 255, 255, 0.4) !important;
  border-radius: 1.6rem;
}
.gallery-caption {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 2.2rem;
  color: white;
  isolation: isolate;
  pointer-events: none;
}
.gallery-caption::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 1.6rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 59.9%, rgba(0, 0, 0, 0.8) 100%);
}
.gallery a {
  display: flex;
}
.gallery-columns-5 .gallery-item {
  flex-basis: calc(20% - 4rem);
}
.gallery-columns-1 .gallery-item {
  flex-basis: calc(100% - 4rem);
}
.gallery-columns-2 .gallery-item {
  flex-basis: calc(50% - 4rem);
}
.gallery-columns-3 .gallery-item {
  flex-basis: calc(33.3333333333% - 4rem);
}
.gallery-columns-4 .gallery-item {
  flex-basis: calc(25% - 4rem);
}
.gallery-columns-5 .gallery-item {
  flex-basis: calc(20% - 4rem);
}
.gallery-columns-6 .gallery-item {
  flex-basis: calc(16.6666666667% - 4rem);
}
.gallery-columns-7 .gallery-item {
  flex-basis: calc(14.2857142857% - 4rem);
}
.gallery-columns-8 .gallery-item {
  flex-basis: calc(12.5% - 4rem);
}
.gallery-columns-9 .gallery-item {
  flex-basis: calc(11.1111111111% - 4rem);
}
.gallery-item {
  width: unset !important;
  margin-top: unset !important;
  aspect-ratio: 1;
  position: relative;
}
@media (max-width: 991px) {
  .gallery-item {
    flex-basis: calc(33.3333333333% - 3.3rem) !important;
  }
  .gallery-item img {
    max-width: unset;
    max-height: unset !important;
    height: unset;
  }
}
@media (max-width: 768px) {
  .gallery-item {
    flex-basis: calc(50% - 3.3rem) !important;
  }
}
@media (max-width: 600px) {
  .gallery-item {
    flex-basis: 100% !important;
  }
}
@media (max-width: 768px) {
  .gallery {
    gap: 1.5rem;
  }
}

input, textarea {
  border: 2px solid #6A6A6A;
  outline: 0;
  border-radius: 1.6rem;
  padding: 12px 15px;
  width: 100%;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
  border: 2px solid #6A6A6A;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 200px #1d1d1d inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input.disabled, textarea.disabled {
  opacity: 0.65;
  pointer-events: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
}
.input-wrapper-split {
  display: flex;
  gap: 2rem;
}
.input-wrapper-split .input-wrapper {
  width: 100%;
}
@media (max-width: 650px) {
  .input-wrapper-split {
    flex-direction: column;
  }
}
.input-wrapper label {
  margin-bottom: 0.8rem;
  transition: all 0.3s linear;
}
.input-wrapper:focus-within label {
  color: white;
}
.input-wrapper.hidden-field {
  display: none;
}

button, .btn {
  border: 0;
  padding: 9px 15px;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn-primary {
  background-color: #eb4836;
  color: white;
}
.btn-primary:hover {
  background-color: #e9331f;
  color: white !important;
}

.btn-white {
  background-color: white;
  color: #eb4836;
}
.btn-white:hover {
  background-color: #f2f2f2;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  background-color: rgba(246, 246, 246, 0.9);
}
.modal .modal {
  z-index: 9999;
}
.modal.show {
  display: flex;
}

.modal-content {
  width: 100%;
  max-height: 100%;
  max-width: 68.9rem;
  z-index: 9999;
  margin: 15px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 1.6rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .modal-content {
    padding: 4.8rem;
  }
}
@media (max-width: 991px) {
  .modal-content {
    padding: 1.8rem 1.5rem;
  }
}
.modal-content-header {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  z-index: 2;
  min-height: 38px;
}
.modal-content-header .modal-title {
  padding-right: 33px;
  font-size: 1.3rem;
}
.modal-content-header .modal-title i {
  font-size: 1.2rem;
}
.modal-content-header div.modal-close.close {
  position: absolute;
  right: 1.2rem;
}
.modal-content-body {
  min-height: 1rem;
  max-height: calc(100vh - 6.2rem);
  overflow: hidden auto;
  scrollbar-width: none;
}
.modal-content-body::-webkit-scrollbar {
  width: 0;
}
.modal-content-body h2 {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
.modal-content > .modal-close {
  cursor: pointer;
  transition: all 0.1s linear;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 99;
  font-size: 3rem;
}
.modal-content > .modal-close:hover {
  transform: rotate(90deg);
  transition: all 0.1s linear;
  display: block;
}

.modal .modal-xs {
  max-width: 240px;
}

.modal .modal-sm {
  max-width: 400px;
}

.modal .modal-md {
  max-width: 800px;
}

.modal .modal-l {
  max-width: 1100px;
}

.modal .modal-xl {
  max-width: 1920px;
}
.modal .modal-xl .floor-view {
  max-height: 100vh;
}

.modal .modal-responsive {
  width: 100%;
  max-height: calc(100vh - 2rem);
  max-width: unset;
}

.modal #member .post-wrapper h2.section-heading {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  margin-top: 1rem;
}

.contact-row {
  display: flex;
  gap: 4.8rem;
}
@media (max-width: 1200px) {
  .contact-row {
    flex-direction: column;
  }
}
.contact-row .contact-form-column,
.contact-row .contact-location-column {
  flex-basis: 100%;
  padding: 2.8rem;
  border-radius: 20px;
}
.contact-row .contact-form-column .section-heading,
.contact-row .contact-location-column .section-heading {
  font-size: clamp(2.7rem, 6.6vw, 4rem);
  margin-bottom: 2.4rem;
}

.contact-form-column {
  background-color: #1d1d1d;
  color: #6A6A6A;
}
.contact-form-column .section-heading {
  color: white;
}
.contact-form-column label {
  font-size: 1.4rem;
}
.contact-form-column input, .contact-form-column textarea {
  background-color: transparent;
  color: white;
}
.contact-form-column input[type=submit] {
  color: white;
  cursor: pointer;
}

.contact-location-column {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.contact-location-column a {
  font-size: 2.4rem;
  color: #eb4836;
  font-weight: 700;
  margin-bottom: 2.4rem;
  display: block;
}
@media (max-width: 991px) {
  .contact-location-column a {
    font-size: 1.8rem;
  }
}
.contact-location-column a [class*=ri-] {
  font-size: 2.4rem;
  color: #eb4836;
  font-weight: 400;
}
@media (max-width: 991px) {
  .contact-location-column a [class*=ri-] {
    font-size: 1.9rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.help-block.with-errors li {
  color: #eb4836;
  list-style: none;
}

.members {
  display: grid;
  gap: 4.8rem;
  margin-bottom: 6rem;
}
.members a {
  transition: all 0.2s ease-out;
  border-radius: 1.6rem;
}
.members a:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 2rem rgba(0, 0, 0, 0.2);
}
.members .member {
  aspect-ratio: 34/42;
  position: relative;
  padding: 1.4rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  border-radius: 1.6rem;
}
.members .member::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.23%, rgba(0, 0, 0, 0.8) 100%);
}
.members .member-photo {
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 1.6rem;
}
.members .member-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.members .member .member-name,
.members .member .member-profession {
  z-index: 2;
  position: relative;
}
.members .member .member-name {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
}
.members .member .member-profession {
  font-size: 1.4rem;
  color: #eb4836;
  font-family: "Space Grotesk", sans-serif;
}
@media (max-width: 991px) {
  .members {
    margin-bottom: 0;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

#founders {
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}
@media (max-width: 991px) {
  #founders {
    margin-bottom: 4.8rem;
  }
}

#members {
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
}
@media (max-width: 600px) {
  #members {
    margin-bottom: 4.8rem;
    grid-template-columns: 1fr 1fr;
  }
}

#member {
  display: flex;
  gap: 4.8rem;
}
@media (max-width: 991px) {
  #member {
    flex-direction: column;
  }
}
#member .profile-aside {
  width: 34rem;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  #member .profile-aside {
    margin: auto;
  }
}
#member .profile-aside img {
  border-radius: 16px;
}
#member img {
  width: 100%;
}
#member .post-wrapper .section-heading {
  margin-top: 0;
  margin-bottom: 0;
}
#member .post-wrapper h2.section-heading {
  color: #eb4836;
  margin-bottom: 1rem;
}
#member .back-to {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 0.8rem;
  margin: 2rem auto 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
#member .back-to [class^=ri-] {
  font-size: 1.7rem;
  transition: inherit;
}
#member .back-to:hover {
  border-radius: 12px;
  background-color: #F6F6F6;
}
#member .back-to:hover [class^=ri-] {
  color: #eb4836;
}

.members-subheading {
  margin-bottom: 12rem;
}

.block-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  position: relative;
  isolation: isolate;
  padding: 4.8rem;
  border-radius: 1.6rem;
  margin-bottom: 4.8rem;
}
@media (max-width: 991px) {
  .block-link-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .block-link {
    height: unset;
    aspect-ratio: 32/44;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .block-link h2, .block-link h3 {
    text-align: center;
  }
}
.block-link h2 {
  color: #eb4836;
  font-size: 6.4rem;
}
@media (max-width: 991px) {
  .block-link h2 {
    font-size: 3.6rem;
  }
}
.block-link h3 {
  color: white;
  font-size: 4rem;
}
@media (max-width: 991px) {
  .block-link h3 {
    font-size: 2.4rem;
    font-weight: 400;
  }
}
.block-link::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(29, 29, 29, 0.9) 0%, rgba(29, 29, 29, 0) 50%);
  z-index: -1;
  border-radius: 1.6rem;
}
.block-link .ri-arrow-right-up-line {
  font-size: 30rem;
  line-height: 0.6;
  color: white;
  display: block;
  width: 22.6rem;
}
@media (max-width: 991px) {
  .block-link .ri-arrow-right-up-line {
    transform: rotate(90deg) translate(-13px, -28px);
    width: 11.3rem;
    font-size: 20rem;
  }
}
.block-link .image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  inset: 0;
  border-radius: 1.6rem;
  z-index: -1;
}

.artist-profile {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.artist-profile .member-desc {
  display: none;
}
.artist-profile:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 2rem rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=main.css.map */