@use '../base/variables' as *;

.image-modal {
  position: fixed;
  inset: 50px;
  z-index: 9999;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    overflow: hidden;
    border-radius: 1.6rem;
    padding: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  @media(max-width: 991px) {
    inset: 0;
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: rgba(black, .5);
  }

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 1.6rem;

    @media(min-width: 992px) {
      height: 100%;
    }
  }

  .next-prev-image {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;

    .next-image,
    .prev-image {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      cursor: pointer;

      [class^=ri-] {
        display: none;
        font-size: 10rem;
        color: rgba(white, .5);

        @media(max-width: 991px) {
          display: block;
        }
      }

      &:hover {
        [class^=ri-] {
          display: block;
        }
      }
    }

    .next-image {
      justify-content: flex-end;
      @media(max-width: 991px) {
        justify-content: flex-end;
      }
    }

    .prev-image {
      justify-content: flex-start;
      @media(max-width: 991px) {
        justify-content: flex-start;
      }
    }
  }

  .image-close {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 7rem;
    z-index: 2;
    cursor: pointer;
  }
}