@use '../base/variables.scss' as *;

footer {
  padding: 3.3rem 0 2rem 0;
  background-image: url(../images/footer-graphic.svg);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    padding: 4rem 0 1.5rem 0;
    background-size: 100%;
    background-position: bottom;
  }
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;

  * {
    font-family: 'Inter', sans-serif;
  }
}

.social-links {
  a {
    .lnc {
      transition: all 0.2s linear;
      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      .lnc {
        color: $color-red;
      }
    }
  }
}

.footer-row {
  display: flex;
  align-items: center;

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-column {
    padding: 0 1.2rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1100px) {
      padding: 0 1.2rem;
      justify-content: flex-start;
    }

    .footer-logo {
      max-height: 2rem;

      @media (max-width: 1100px) {
        max-height: 4rem;
      }
    }

    &:not(:last-of-type) {
      border-right: 1px solid $color-dark;

      @media (max-width: 1100px) {
        border-right: unset;
      }
    }

    > a,
    > span {
      font-size: 1.6rem;
      display: flex;
      gap: .5rem;
      align-items: center;
      cursor: pointer;
      font-weight: 600;

      [class^='ri-'] {
        transition: all 0.2s linear;
      }

      &:hover {
        [class^='ri-'] {
          color: $color-red;
        }
      }

      [class^='ri-'] {
        font-size: 1.6rem;
      }
    }

    > span {
      transition: all 0.2s linear;
      &:hover {
        color: $color-red;
      }
    }

    &-link {
      @media (max-width: 1100px) {
        align-self: baseline;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &.footer-row-bottom {
    @media (max-width: 1100px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem 0;
    }

    p,
    a {
      font-size: 1.2rem;
      color: $color-dark;
      font-weight: 400;

      @media (max-width: 1100px) {
        font-size: 1rem;
      }
    }

    a {
      &:hover {
        color: $color-red;
      }
    }

    .footer-column {
      padding: 0 1.2rem;

      &:not(:last-of-type) {
        border-right: 1px solid $color-dark;
      }
    }
  }
}

.phone-numbers {
  h3 {
    color: $color-dark;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
    display: block;
  }
}

.phone-numbers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  padding: .4rem;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.phone-number {
  display: flex;
  flex-basis: calc(50% - .2rem);
  gap: .8rem;
  color: white;
  padding: 1.2rem;
  transition: all 0.2s linear;
  border-radius: .4rem;

  [class^='ri-'] {
    font-size: 2.4rem;
    color: rgba(white, 0.2);
    transition: all 0.2s linear;
  }

  &-content {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
    }

    strong {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &:hover {
    background-color: #3b3b3b;
    color: white;

    [class^='ri-'] {
      color: rgba(white, 0.5);
    }
  }
}
